@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

.product-grid {
  font-family: "Poppins", sans-serif;
  text-align: center;
  border-radius: 15px;
  border: 1px solid #e7e7e7;
  overflow: hidden;
  transition: all 0.4s ease-out;
}

.product-grid:hover {
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.1);
}

.product-grid .product-image {
  position: relative;
}

.product-grid .product-image a.image {
  display: block;
}

.product-grid .product-image img {
  width: 100%;
  height: auto;
}

.product-grid .product-discount-label {
  color: #fff;
  background: #78a206;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 2px 8px;
  border-radius: 5px;
  position: absolute;
  top: 12px;
  left: 12px;
}

.product-grid .product-links {
  width: 145px;
  padding: 0;
  margin: 0;
  list-style: none;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  top: 65%;
  left: 50%;
  transition: all 0.4s ease 0s;
}

.product-grid:hover .product-links {
  opacity: 1;
  top: 50%;
}

.product-grid .product-links li {
  display: inline-block;
  margin: 0 2px;
}

.product-grid .product-links li a {
  color: #2c2c2c;
  background: #fff;
  font-size: 16px;
  line-height: 42px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: block;
  position: relative;
  transition: all 0.4s ease-out 0s;
}

.product-grid .product-links li a:hover {
  color: #fff;
  background: #78a206;
  box-shadow: 1px 1px 30px 0 rgba(0, 0, 0, 0.2);
}

.product-grid .product-links li a:before,
.product-grid .product-links li a:after {
  content: attr(data-tip);
  color: #fff;
  background-color: #555;
  font-size: 12px;
  line-height: 18px;
  padding: 5px 10px;
  white-space: nowrap;
  display: none;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: -40px;
  transition: all 0.3s ease 0s;
}

.product-grid .product-links li a:after {
  content: "";
  height: 10px;
  width: 10px;
  padding: 0;
  transform: translateX(-50%) rotate(45deg);
  top: -18px;
  z-index: -1;
}

.product-grid .product-links li a:hover:before,
.product-grid .product-links li a:hover:after {
  display: block;
}

.product-grid .product-content {
  padding: 12px 12px 15px;
  position: relative;
}

.product-grid .rating {
  padding: 0;
  margin: 0 0 8px;
  list-style: none;
}

.product-grid .rating li {
  color: #78a206;
  font-size: 14px;
}

.product-grid .rating .far {
  color: #808080;
}

.product-grid .title {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 15px;
}

.product-grid .title a {
  color: #2c2c2c;
  transition: all 0.3s ease 0s;
}

.product-grid .title a:hover {
  color: #78a206;
}

.product-grid .price {
  color: #78a206;
  font-size: 17px;
  font-weight: 600;
  display: block;
  transition: all 0.4s ease-in-out;
}

.product-grid .price span {
  color: #999;
  font-weight: 500;
  text-decoration: line-through;
}

.product-grid:hover .price {
  opacity: 0;
}

.product-grid .add-to-cart {
  color: #fff;
  background-color: #78a206;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 40px;
  width: 140px;
  height: 40px;
  border-radius: 50px;
  opacity: 0;
  transform: translateX(-50%);
  position: absolute;
  bottom: 50px;
  left: 50%;
  transition: all 0.4s ease-out;
}

.product-grid .add-to-cart:hover {
  background-color: #2f2f2f;
}

.product-grid:hover .add-to-cart {
  opacity: 1;
  bottom: 8px;
}

@media screen and (max-width: 1200px) {
  .product-grid {
    margin: 0 0 30px;
  }
}

img.innerproduct {
  width: 150px;
}

h3.product-title {
  font-family: PT Sans;
  margin-top: 60px;
  margin-left: 50px;
  font-size: 55px;
  font-weight: 400;
  letter-spacing: -0.5px;
}

p.product-description {
  margin-top: 10px;
  font-size: 20px;
  word-spacing: 5px;
  color: black;
  font-family: "Playfair Display", serif;
}

h4.price {
  font-family: PT Sans;
  margin-top: 55px;
  margin-left: 50px;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.product-info-button {
  font-family: PT Sans;
  margin-top: 20px;
  margin-left: 50px;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.sizes {
  font-family: PT Sans;
  margin-top: 20px;
  font-size: 25px;
  margin-left: 50px;
  font-weight: 400;
  letter-spacing: -0.5px;
}
.product-info-button:hover {
  color: grey;
}
select {
  font-size: 25px;
}

.adada1 {
  margin-top: 50px;
}

button.cfade1 {
  margin-left: 81px;
}

button.cfade1 {
  text-transform: uppercase;
  letter-spacing: 0.3em;
  line-height: 1.5;
  padding: 0.7rem 0.75rem;
  font-size: 0.6875rem;
  border-radius: 0;
  border: 2px solid #999999;
}

button.cfade1 {
  background-color: #e5e5e5;
  color: rgb(80, 67, 67);
  transition: background-color 1s;
}

button.cfade1:hover {
  background-color: black;
  color: white;
}

button.cfade1:focus,
button.cfade1:active {
  background-color: black;
  transition: none;
}

.myCustomCarousel .slick-arrow {
  color: #070606 !important;
  border: none;
  outline: none;
  background: #242424 !important;
}

.slick-prev {
  left: 3% !important;
  z-index: 1;
}

.slick-next {
  right: 3% !important;
  z-index: 1;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 72%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.ReactModal__Content.ReactModal__Content--after-open.charts {
  position: relative;
  inset: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.counter {
  margin-left: 50px;
  align-items: center;
  flex-direction: column;
  text-align: left;
  margin-top: 20px;
}

.counter h1 {
  color: rgb(16, 0, 54);
  font-size: 40px;
  font-family: cursive;
}

.counter__output {
  font-size: 40px;
  color: rgb(116, 7, 7);
}

.btn__container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  column-gap: 20px;
}

.control__btn {
  font-size: 20px;
  padding: 10px 20px;
  background-color: transparent;
  color: rgb(16, 0, 54);
  border: 1px solid rgb(16, 0, 54);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.control__btn:hover {
  background-color: rgb(16, 0, 54);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(16, 0, 54);
}

.reset {
  width: 100px;
  font-size: 18px;
  padding: 10px 20px;
  background-color: transparent;
  color: rgb(16, 0, 54);
  border: 1px solid rgb(16, 0, 54);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.reset:hover {
  background-color: rgb(16, 0, 54);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(16, 0, 54);
}
ul.slick-dots.slick-thumb {
  display: block;
  margin: 54px;
}
.slick-prev:before {
  content: "←";
  color: black;
}
.slick-next:before {
  content: "→";
  color: black;
}

.soring {
  display: flex;
  margin-bottom: 25px;
}
label.price {
  font-size: 35px;
  font-family: PT Sans;
  margin-right: 10px;
}
svg{
  margin-bottom: 15px;
}
.rel {
  display: flex;
  justify-content: center;
}
h1.prd{
  text-align: center;
}
  