img.top {
  margin-top: 50px;
  height: 390px;
  margin-left: 26px;
}

h1.name {
  margin-top: 150px;
}

h4.prices {
  margin-bottom: 25px;
  font-size: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: Helvetica Neue;
  margin-top: 88px;
}

h4.description {
  padding: 24px;
  font-size: 23px;
  font-family: Helvetica Neue;
  word-spacing: 1px;
}

h1.size {
  margin-top: 50px;
}

a.ncss-btn-primary-dark.btn-lg,
button.ncss-btn-primary-dark.btn-lg {
  width: 50%;
  min-height: 60px;
  padding: 18px 24px;
  border-radius: 50px;
  background-color: black;
  color: white;
}

.mb6-sm.prl0-lg.fs14-sm {
  margin-top: 35px;
}
.button {
  float: left;
  margin: 0 5px 0 0;
  width: 100px;
  height: 40px;
  position: relative;
}

.button label,
.button input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.button input[type="radio"] {
  opacity: 0.011;
  z-index: 100;
}

.button input[type="radio"]:checked + label {
  background: #20b8be;
  border-radius: 4px;
}

.button label {
  cursor: pointer;
  z-index: 90;
  line-height: 1.8em;
}


.ussize{
 display: flex;
 justify-content: center;
 margin-top: 50px;
 margin-bottom: 50px;
}

label.choose {
  font-size: 35px;
  font-family: 'Montserrat';
}